@page
@model UrlShortener.WebAPI.Pages.IndexModel
@{
    ViewBag.Title = "Index";
}

<h1>Hello from Razor Pages!</h1>
<button class="btn btn-primary">HEllo</button>
<p>This is a Razor Page in a Web API project.</p>

<div id="root"></div>

@section scripts {
    <script src="~/js/react/dist/bundle.js"></script>
}